.navbar{
    padding: .5em;
    color: var(--black-1);
    background-color: var(--dark-red-1);
    display: flex;

    .navbar-left{
        width: 60%;
        display: flex;
        justify-content: space-between;
    }
    .navbar-right{
        display: flex;
        align-items: center;
        justify-content: right;
        width: 40%;
        span{
            margin-right: 1em;
        }
    }
}

.navbar-item{
    transition: .5s;
    border: .8px solid var(--black-1);
    padding: 6px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--black-1);

    &:hover{
        cursor: pointer;
        // scale:calc(1.1);
        transform: translate(.3em, .3em);
        transition: .5s;
    }
}